/* Mikael A. Mendoza - Github page stylesheet */

:root {
  --main-color: #2f006d; /* Dark Purple */
  --secondary-color:#673DCC; /* Lighter Purple */
}

html{
	background-color: var(--main-color);
}

body{
    font-family:  trebuchet, sans-serif;
    font-size: 16px;
    min-height: 100%;
}

.navbar-brand,
.navbar-link{
	font-size: 2em;
}

.container-fluid{
	background-color: var(--main-color);
	color:white;
	padding:0;
}
#info{
	background-color: var(--main-color);
	color: white;
	text-align: center;
	padding: 2%;
}

#projects{
	margin-left: 10%;
	text-align: left;
}

.page_title{
	font-variant: small-caps;
}


#portrait{
	width:60%;
	margin: 2%; 
}

/*Tab rules*/
.nav-tabs{
	border-color: var(--secondary-color);
}

.tab_item{
	padding: 1%;
	text-decoration: none;
	color: white;
}

.tab_item > a{
	color:white;
	font-size: 18px;
}

.tab_item.active{
	background-color: var(--secondary-color);
	font-weight: bold;
}

/*Carousel rules*/
#carousel_container.carousel.slide{
	max-width:98vw;
	max-height: 60vh;
	background-color: var(--secondary-color);
}

.carousel-inner{
	max-width:98vw;
	max-height:60vh;
}

/*Images sizing*/
.carousel-item.active, .carousel-item{
	max-width:98vw;
	max-height: 60vh;
	padding:1vh;
	padding-left: 9.5vw;
	padding-right: 9.5vw;
}

/*Description rules*/
#project_description{
	background-color: var(--secondary-color);
	text-align: left;
	padding:1%;
	padding-left: 9.5vw;
}

@media only screen and (min-width: 768px){
	body{
		font-size: 16px;
	}
	#portrait{
		width:20%;
		margin: 2%; 
	}

}